:root {
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: Blorado, sans-serif;
    text-rendering: geometricprecision;
}

body {
    margin: 0;
    background-color: var(--black);
}

header {
    display: block;
}

header h1 {
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    font-family: Bolardo, sans-serif;
    font-size: 40px;
}

main h2 {
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-family: Bolardo, sans-serif;
    font-size: 30px;
}

p {
    margin-top: 10px;
}

/* nav bar styles */
.topnav {
    float: right;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--black);
    padding-top: 10px;
    margin-right: 10px;
    font-family: Bolardo, sans-serif;
    font-size: 5px;
}

.topnav .email-container {
    float: right;
}
  
.topnav a {
    display: inline-flex;
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: rgb(106, 106, 106);
    color: white;
}
  
.topnav input[type=text] {
    color: var(--black);
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .email-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    color: var(--black);
    background: var(--white);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .email-container button:hover {
    color: var(--white);
    background: var(--black);
}
  
@media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid var(--black);  
    }
}
/* end of nav bar elements */

.avatar {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 30px;
}

.content {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
}